<div>
	<h1>Add new Supplier</h1>
	<form action="/suppliers" method="POST" id="supplierForm">
		Supplier Name:<br>
		<input type="text" name="supplier_name"><br>
		Business Name: <br>
		<input type="textarea" name="business_name"><br>
		Address: <br>
		<textarea rows="4" cols="50" name="supplier_address" form="supplierForm">
			Main office address
		</textarea>
		<input type="submit" value="Submit">
	</form>
</div>
