<div>
    <h1>Edit Supplier info</h1>
    <form action="/suppliers" method="POST">
  		Supplier Name: <br >
  		<input type="text" name="supplier_name" value=''> <br>
  		Business Name: <br />
  		<input type="textarea" name="business_name" value=''> <br>
  		Address: <br>
  		<textarea rows="4" cols="50" name="supplier_address" form="supplierForm">
			Something
		</textarea>
  		<input type="submit" value="Submit" />
  	</form>
</div>
