<style>
  #results-container {
    margin-top: 8px;
    width: 100%;
  }

  .search-results {

  }
</style>

<div>
  <h2>Inventory Purchases</h2>
  Search product: <input id="live-search" onkeyup="search()"></input>
  <button onclick="search()">Add product</button>

    <table class="ui unstackable table" id="results-container">
      <thead>
        <tr>
          <th>SKU</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Description</th>
          <th class="right aligned">Add</th>
        </tr>
      </thead>
    </table>
  
  <form action="/purchases" method="POST">
    <input type="submit" value="Submit">
	</form>
</div>

<script type="text/javascript">
  var resultsContainer = document.getElementById('results-container');

  function search(){
    searchValue = document.getElementById('live-search').value;

    var request = new XMLHttpRequest();
    request.addEventListener("error", ()=> console.log('Req failed.'));
    request.addEventListener("load", responseHandler);
    request.open("GET", "/api/products/search/" + searchValue);
    request.send();
  }

  function responseHandler() {
    var res = JSON.parse(this.responseText);
    var products = res.products;
    
    for (var i=0; i<products.length; i++) {
      let tableRow = document.createElement('tr');
        tableRow.innerHTML = "<td>" + products[i].sku + "</td>" + "<td>" + products[i].brand_name + "</td>" + "<td>" + products[i].model + "</td>" + "<td>" + products[i].description + "</td>" + "<td><a href='#'>Add</a></td>"; 
      resultsContainer.appendChild(tableRow);
    }
  }

  function clearResults() {
    resultsContainer.childNodes[6]
  }

</script>