<div>
    <h1>Add new product</h1>
    <form action="/products" method="POST">
  		SKU: 
  		<input type="text" name="SKU" /> <br>
  		Brand: <br>
  		<input type="text" name="brand" /> <br>
  		Model: <br>
  		<input type="text" name="model" /> <br>
  		Supplier: <select name="supplier">
  					{ supplierListElements }
  				  </select> <br>
  		Description: <br>
  		<input type="text" name="description"> <br>
  		Color: <br>
  		<input type="text" name="color"> <br>
  		Variation: <br>
  		<input type="text" name="variation"> <br>
  		<input type="submit" value="Submit">
  	</form>
</div>